*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(210, 46%, 95%);
    font-family: "Manrope";
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20vh auto;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
}

article h2{
    font-size: 1.1rem;
    color:  hsl(217, 19%, 35%);
    margin: 20px;
}
article p{
    color: hsl(214, 17%, 51%);
    margin: 20px;
    font-size: 0.9rem;
}

.data{
     display: flex;
     align-items: center;
     justify-content: center;
     margin:20px;
}
 .fecha{
     color: hsl(217, 19%, 35%);
     margin-right: 50px;
     font-size: 0.8rem;
 }
 .fecha span{
    color: hsl(214, 17%, 51%);
 }

picture img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

figure img{
    width: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.share img{
    padding: 8px;
    border-radius: 1rem;
    background-color: hsl(210, 46%, 95%);
}

@media screen and (min-width:320px){
    .container{
        margin: 10vh auto;
        width: 320px;
    }
}

@media screen and (min-width:900px){
    .container{
        width: 800px;
        height: 300px;
        margin: 20vh auto;
    }
    picture{
        width: 40%;
        overflow: hidden;
    }
    picture img{
        height: 100%;
        width: 400px;
    }
    article{
        width: 60%;
    }
    article h2{
        font-size: 1.4rem;
        margin: 20px 40px;
    }
    article p{

        margin: 20px 40px;
        font-size: 0.9rem;
    }

    .fecha{
        margin-right: 200px;
        font-size: 0.8rem;
    }
}